<html lang=" en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Epic Articles</title>
	<link rel="shortcut icon" href="/images/icon.png">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/1b21b58b73.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	<html lang=" en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Epic Articles</title>
	<link rel="shortcut icon" href="/images/icon.png">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/1b21b58b73.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	
	<p id="articleId" hidden><span th:text="${id}"/></p>
	
	<div class="d-grid gap-2">
  		<button id="btnDelete" class="btn btn-danger" type="button">Delete</button>
  		<button id="btnCancel" class="btn btn-primary" type="button">Cancel</button>
	</div>

	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/userarticles.js"></script>
</body>

</html>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/delete.js"></script>
</body>

</html>