<!DOCTYPE html>
<html lang=" en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <title>Epic Articles</title>
    <link rel="shortcut icon" href="images/icon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	<!--MENU-->
	<div class="flex-container-menu">
		<ul class="flex-container">
			<li id="li-set"><a class="block-a" href="#">WELCOME</a></li>
			<li><a href="#">TRAVEL</a></li>
			<li><a href="#">SPORT</a></li>
			<li><a href="#">SCIENCE</a></li>
			<li><a href="#">IT</a></li>
		</ul>
		
		<ul class="flex-container">
			<li><a href="#">ADD ARTICLE</a></li>
			<li><a href="#">VIEW YOUR ARTICLES</a></li>
		</ul>
		
	</div>
	
	<!--INTRO-->
	<div class="intro">
		<h1 class="class-h">What is the project about?</h1>
		<p class="class-p">The project is educational. You have the opportunity to write 
			your own article on the proposed topics. You can also view other people's 
			articles and leave comments.</p>
		<h2 class="class-h">Technology stack</h2>
		<p class="class-p">The following technologies were used for the project: 
			HTML, CSS, JQuery, Java, Spring Web, Spring Boot, Spring JPA, Spring Security.</p>
	</div>
	
	<script src="js/home.js"></script>
</body>

</html>