<!DOCTYPE html>
<html lang=" en">

<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Epic Articles</title>
	<link rel="shortcut icon" href="images/icon.png">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;600;700&display=swap" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/1b21b58b73.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
	<!--Header-->
	<nav class="navbar navbar-expand-lg mh-bg-g">
		<div class="container-fluid">
			<a class="navbar-brand mh-ftcolor-white" href="#">EpicGuys</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="On/off nav">
				<i class="fa-regular fa-clipboard"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active mh-ftcolor-white" aria-current="page" href="http://localhost:8080/home">Welcome</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle mh-ftcolor-white" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Topics
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item mh-hover" href="http://localhost:8080/travel">Travel</a></li>
							<li><a class="dropdown-item mh-hover" href="http://localhost:8080/sport">Sport</a></li>
							<li><a class="dropdown-item mh-hover" href="http://localhost:8080/it">IT</a></li>
							<li><a class="dropdown-item mh-hover" href="http://localhost:8080/science">Science</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle mh-ftcolor-white" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Your content
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item mh-hover" href="http://localhost:8080/epic-guys/articles/writer/viewAll">My articles</a></li>
							<li><a class="dropdown-item mh-hover" href="#">Write article</a></li>
							<li><a class="dropdown-item mh-hover" href="#">Update article</a></li>
							<li><a class="dropdown-item mh-hover" href="#">Delete article</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle mh-ftcolor-white" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Account
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item mh-hover" aria-current="page" href="http://localhost:8080/login">Login</a>
							</li>
							<li>
								<a class="dropdown-item mh-hover" aria-current="page" href="http://localhost:8080/login?logout">Logout</a>
							</li>
							<li>
								<a class="dropdown-item mh-hover" aria-current="page" href="#">Registration</a>
							</li>
						</ul>
					</li>
		
				</ul>
				<form class="d-flex" role="search">
					<input id="labelSearch" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
					<button id="btnSearch" class="mh-btn mh-ftcolor-white" type="submit">Search</i></button>
				</form>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			
			<div class="col-md-8">
   				<ul id="list-articles" class="list-group">
    			</ul>
    		</div>

			<div class="col-md-4">
    			<ul id="list-dates" class="list-group">
    			</ul>
    		</div>
    		
    	</div>
  	</div>

	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/it.js"></script>
</body>

</html>